node_modules/
build
.DS_Store
web
.idea
dist
images
azurapi-data
*.internal.json
*.json
barrage.json
chapters.json
equipments.json
events.json
memories.json
newships.json
ships.json
version-info.json
voice_lines.json
